li{
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

body{
	background-color: black;
}

.large{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
}