.s1{
background-color:#FFCCCC;
color:#CC0000;
}
.rgb
{
color:rgb(34,10,150);
}
h1
{
font-family:ºÚÌå;
text-align:center;
text-shadow:6px 3px 4px #333;
}
p
{
font-size:14px;
line-height:normal;
text-indent:2em;
}