h1
{
font-family:ºÚÌå;
text-align:center;
text-shadow:6px 3px 4px #333;
}
.s1
{
text-align:center;
}
#content1
{
margin:2px;
border:#cecb52 solid 2px;
}
.s2{
background-color:#666666;
color:#FFFFFF;
}
#content1
{
margin:2px;
border:#cecb52 solid 2px;
}